*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: var(--secondary-color);
}
html{
    background-color: var(--secondary-color);
}



/*   Variables...*/

:root{
    --primary-color:#A1C0E5;
    --secondary-color:#C2C2C2;
}

/* Cuerpo Principal de la Pagina */

/* barra de navegacion */
.link{
    position: sticky;
    top: 0;
    width: 99%;
    height: 69px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    background-color: var(--primary-color);
}
.link img{
    float: left;
}
.link a{
    text-decoration: none;
    margin-right: 29px;
}
.link button{
    padding: 16px;
}
.btn_btn_primary{
    color: #0386b9;
    background-color: transparent;
    border: 0px;
}
/* Imagen central */
.img{
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid #0386b9;
    border-radius: 5px;
    background-image: url(../images/img4.jpg);
    position: center;
    width:500px;
    height:600px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    box-shadow: 10px 10px 50px 15px #40798f9c;
}
.textoImagen{
    margin-top: 425px;
    background-color: #ffffff88;
    text-align: center;
    padding: 10px 15px 5px 15px;
}























/* formulario Modal*/

.modal-header{
    background-color: #b1a4c096;
}
.modal-header h5{
    margin-left: auto;

}
.modal-body{
    background-color: #b1a4c096;
}
.titulo{
    width: 100%;
    margin: auto;
}
.titulo h5{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cuerpoFormulario{
    border: 2px solid #40798f69;
    background-color: #a9becc;
    box-shadow: 10px 10px 50px 15px #40798f9c;
    width: 70%;
    display: flex;
    margin: auto;
}
.form{
    margin: auto;
    width: 90%;
}
.form input{
    width: 65%;
    float: right;
    border: 1px solid #40788f70;
}
.form label{
    margin-top: 10px;
}
.texto textarea{
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #40788f70;
}
.botonEnviar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.botonEnviar button{
    color: white;
    background-color: #0386b9;
    border: 2px solid #006a9496;
    padding: 2.5px 45px;
    margin-bottom: 10px;
}
